<!-- <div class="container">
  <div class="jumbotron">
    <h1>Welcome</h1>
    <h2>Angular & Bootstrap Demo</h2>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading">Status</div>
    <div class="panel-body">
      <h3>{{title}}</h3>
      <span>
        Act only according to that maxim whereby you can, at the same time, will that it should become a universal law.
        - Immanuel Kant
      </span>
    </div>
  </div>
</div> -->

<div class="container">
  <p>
    <span>
      Act only according to that maxim whereby you can, at the same time, will that it should become a universal law.
      - Immanuel Kant
    </span>
  </p>
</div>
